<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
一个sql语句会执行, 得到数据, 服务层如何到到这个sql执行的结果

-->
<mapper namespace="com.svj.portrayalpublisher.mapper.SvjPortrayalMapper">
    <select id="getUserInfo" resultType="com.svj.bean.SvjUser">
select * from "svj_user_portrayal" where svj_user_userid=#{userid}
    </select>




</mapper>